@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: white;
}

header {
    background-color: #f0f0f0f0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    padding: 10px;
    justify-content: center;
}

#previous-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #005f5f;
    color: white;
}

main {
    
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    justify-content: space-around;
}
 /* Styling each section */

 #heading-section, #introduction, #working, #contact {
    background-color: #f3f3f3;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 98%;  /* Adjust as needed */
    gap: 25px;
}

/* footer Styling */
footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}



